* {
  margin: 0px;
  font-family: 'Roboto';
}

.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  min-height: 100vh;
  background-size: cover;
}
.notfound-image {
  width: 500px;
  margin-bottom: 25px;
}
.notfound-heading {
  font-weight: 500;
  color: #ffff;
  font-size: 40px;
  margin-bottom: 15px;
}

.notfound-paragraph {
  color: #f1f5f9;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .notfound-image {
    width: 300px;
  }
  .notfound-heading {
    font-size: 20px;
  }
  .notfound-paragraph {
    font-size: 15px;
    text-align: center;
    width: 80%;
  }
}
